<div class="row">
  <form class="col-sm-3">
    <div class="form-group">
      <label>Email</label>
      {{input type="text" value=email class="form-control"}}
    </div>

    <div class="form-group">
      <label>password</label>
      {{input type="password" value=password class="form-control"}}
    </div>
    <button class="btn btn-primary form-control">Sign in</button>
  </form>
</div>
